button,
.button {
  display: inline-block;
  border-radius: @radius;
  text-align: center;
  padding: 0.5rem 1rem;
  border: solid @borderWidth @darkGray;
  color: @fontColor;
  cursor: pointer;
  background: @pureWhite;
  transition: @quickTransition;
  &:focus {
    outline: none;
    border-color: @lightBlue;
  }
  &.--bad {
    border-color: @red;
    background: @red;
    color: @white;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}