@import './ss-community.css';
@import './bass.less';
@import './breadcrumbs.less';
@import './button.less';
@import './icon.less';
@import './list.less';
@import './modal.less';
@import './top-bar.less';
@import './transitions.less';
@import './typography.less';
@import './variables.less';

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  background: @white;
}

* {
  font-weight: normal;
}