// text colours
@fontColor: rgba(1, 31, 39, 1);
@lightFontColor: lighten(rgba(1, 31, 39, 1), 20%);
@blue: rgb(88, 54, 228);
@lightBlue: lighten(rgb(88, 54, 228), 20%);

// borders
@borderWidth: 1px;
@radius: 4px;

// backgrounds
@pureWhite: rgb(255, 255, 255);
@white: rgb(252, 252, 252);
@appBackground: rgba(249,248,253,1);
@darkGray: rgb(205, 205, 205);
@darkerGray: rgb(170, 170, 170);
@darkestGray: rgb(100, 100, 100);
@leftBarBackground: white;

// transitions
@transition: all 0.3s cubic-bezier(.55,0,.1,1);
@quickTransition: all 0.15s cubic-bezier(.55,0,.1,1);